<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatWheelSoundboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <ChatWheelSoundboard.Properties.Settings>
            <setting name="num0" serializeAs="String">
                <value>crowd_lv_02</value>
            </setting>
            <setting name="num1" serializeAs="String">
                <value>patience</value>
            </setting>
            <setting name="num2" serializeAs="String">
                <value>wow</value>
            </setting>
            <setting name="num3" serializeAs="String">
                <value>all_dead</value>
            </setting>
            <setting name="num4" serializeAs="String">
                <value>brutal</value>
            </setting>
            <setting name="num5" serializeAs="String">
                <value>disastah</value>
            </setting>
            <setting name="num6" serializeAs="String">
                <value>bozhe_ti_posmotri</value>
            </setting>
            <setting name="num7" serializeAs="String">
                <value>ay_ay_ay</value>
            </setting>
            <setting name="num8" serializeAs="String">
                <value>ehto_g_g</value>
            </setting>
            <setting name="num9" serializeAs="String">
                <value>eto_prosto_netchto</value>
            </setting>
        </ChatWheelSoundboard.Properties.Settings>
    </userSettings>
</configuration>
